# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Mac Os Finder hidden files
.DS_Store

# Test Results
tests/*.diff
tests/*.result

# VScode
.vscode

# Rust Version of the project
main.rs

# Ignore GProf
gmon.out